
.main-button {
    background-color: #FF705C !important;
    border-color: #FF705C !important;
    color: white !important;
}

.main-button:hover {
    background-color: #C85A4B !important;
}

.secondary-button {
    background-color: #FFAD5B !important;
    border-color: #FFAD5B !important;
    color: white !important;
}

.secondary-button:hover {
    background-color: #E5994D !important;
    border-color: #E5994D !important;
    color: white !important;
}

.nav {
    background-color: black!important;
    height: 65px;
}

.nav-bar-button {
    background-color: white!important;
    color: black!important;
    border-color: white!important;
    font-weight: 500 !important;
    font-size: 25px!important;
    width: 150px;
}

.nav-bar-button:hover {
    background-color: #D3D3D3!important;
    border-color: #D3D3D3!important;
}

.logo {
    width: 75px;
}
