/*Creates the gradient background color for the login/signup page*/
.info-page {
    background-image: linear-gradient(to right, #ff5e58 , #fff446);
    min-height: 100vh;
}

/*Styling for the centered text of the login/signup card*/
.header {
    color: white;
    font-weight: 800;
    font-size: 50px;
}

/*Aligns info in the login/signup card component and provides sizing*/
.login-card {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    width: 500px;
    height: 60% !important;
}

/*Changes font width for each textbox label*/
label {
    font-weight: 600;
}

/*Provides sizing for the icon displayed inside each label*/
.icon {
    padding: 4px;
    position: absolute;
    top: 25%;
    left:2px;
    transform: translateY(-50%);
    height: 20px;
}